<section class="container">
    <!-- top nav -->
    <div class="top_nav">
        <ul>
            <li ui-sref-active="on">
                <a ui-sref='main'>推荐</a>
            </li>
            <li ui-sref-active="on">
                <a ui-sref='class'>分类</a>
            </li>
            <li class="" ui-sref-active="on">
                <a ui-sref='bookbase'>书库</a>
            </li>
            <li ui-sref-active="on">
                <a ui-sref='rank'>排行</a>
            </li>
            <li ui-sref-active="on">
            	<!--<i class="topnav-hot"></i>-->
				<a ng-click="ispay()">充值</a>
            	<!--  <i class="topnav-new"></i>-->
                <!--  <a href="?r=">人气</a>-->
            </li>
        </ul>
    </div>
</section>