<section class="activePage">
	<div class="titleLogo"><img src="image/logo.png" alt="" /></div>
	<div class="activeBookList">
		<a class="bookBoxA" href="http://www.oqxiaoshuo.com/#!/bookcontent?channelId=1&extId=13&bookId=701&chapterId=122753">
			<div class="bookTitle">凤还朝，妖孽王爷请让道</div>
			<img src="image/active1.png" alt="" />
			<div class="activeDescribe">
				现代腐女穿越成王妃，一改花痴本色，逛妓院，打群架，劫法场，还全城宣告要休夫！
			</div>
		</a>
		<a class="bookBoxA" href="http://www.oqxiaoshuo.com/#!/bookcontent?channelId=1&extId=13&bookId=180&chapterId=41813">
			<div class="bookTitle">嫁江山</div>
			<img src="image/active2.png" alt="" />
			<div class="activeDescribe">
				平凡婢女步步为营，脱奴籍，晋官身，做王妃，最终凌于顶峰傲视群雄。
			</div>
		</a>
		<a class="bookBoxA" href="http://www.oqxiaoshuo.com/#!/bookcontent?channelId=1&extId=13&bookId=216&chapterId=52480">
			<div class="bookTitle">大叔，别来无恙</div>
			<img src="image/active3.png" alt="" />
			<div class="activeDescribe">
				她半生追逐，半生执念，半生痴心不悔，到头来发现她与他之间竟隔着血海深仇……
			</div>
		</a>
		<a class="bookBoxA" href="http://www.oqxiaoshuo.com/#!/bookcontent?channelId=1&extId=13&bookId=205&chapterId=48630">
			<div class="bookTitle">偏爱蛮妻</div>
			<img src="image/active4.png" alt="" />
			<div class="activeDescribe">
				冷酷无情的豪门太子爷，要她假扮妹妹的角色，在这场看似稳赚不赔的买卖中，其实她输了身子也丢了心。
			</div>
		</a>
		<a class="bookBoxA" href="http://www.oqxiaoshuo.com/#!/bookcontent?channelId=1&extId=13&bookId=215&chapterId=52121">
			<div class="bookTitle">重生之帝后无双</div>
			<img src="image/active5.png" alt="" />
			<div class="activeDescribe">
				一世痴爱，所托非人，她被逼的咬舌自尽，老天怜她让她再世为人，她定要将害她之人挫骨扬灰。
			</div>
		</a>
		<a class="bookBoxA" href="http://www.oqxiaoshuo.com/#!/bookcontent?channelId=1&extId=13&bookId=263&chapterId=67167">
			<div class="bookTitle">行货商诡闻录</div>
			<img src="image/active6.png" alt="" />
			<div class="activeDescribe">
				残破的玉器与失踪的父亲究竟有什么关系，真相背后千丝万缕，谜情环环相扣；一件秘闻、一个诅咒，到头来，都是谎言。
			</div>
		</a>
		<a class="bookBoxA" href="http://www.oqxiaoshuo.com/#!/bookcontent?channelId=1&extId=13&bookId=539&chapterId=91338">
			<div class="bookTitle">宝齐天运</div>
			<img src="image/active7.png" alt="" />
			<div class="activeDescribe">
				葬神凶村, 巨鲎之国, 寻宝人赴险地, 斗群魔, 历生死, 只为解开谜团, 逃得性命。
			</div>
		</a>
		<a class="bookBoxA" href="http://www.oqxiaoshuo.com/#!/bookcontent?channelId=1&extId=13&bookId=218&chapterId=53158">
			<div class="bookTitle">心罪</div>
			<img src="image/active8.png" alt="" />
			<div class="activeDescribe">
				这世上，死人也能开口说话，土壤、光线、气味都会在时间里留下一切我想要答案，时间是永远不能改变的单向记录。
			</div>
		</a>
		<a class="bookBoxA" href="http://www.oqxiaoshuo.com/#!/bookcontent?channelId=1&extId=13&bookId=584&chapterId=100455">
			<div class="bookTitle">异能阴阳眼</div>
			<img src="image/active9.png" alt="" />
			<div class="activeDescribe">
				我有一双阴阳眼，带我看遍这世上的鬼怪妖神，看清这冷暖世间，看尽爱恨情仇，一双阴阳之眼，给我的是一个与别人不一样的世界。
			</div>
		</a>
		<a class="bookBoxA" href="http://www.oqxiaoshuo.com/#!/bookcontent?channelId=1&extId=13&bookId=591&chapterId=101606">
			<div class="bookTitle">除灵师</div>
			<img src="image/active10.png" alt="" />
			<div class="activeDescribe">
				在白天，王灵是一名普通的清洁工，而夜晚，他就是游走在黑夜中的除灵师，斩杀恶鬼，护卫人间秩序。
			</div>
		</a>
	</div>
	<div class="activeBookMore">
		<a href="http://www.oqxiaoshuo.com/#!/main?channelId=1&extId=13">
			<span>查看更多</span>
			<img class="n" src="image/arrow_nA.png" alt="" />
			<img class="p" src="image/arrow_pA.png" alt="" />
		</a>
	</div>
</section>