<!-- <div app-headbar text="{{authorName}}"></div> -->
<header class="header_bar">
    <div class="header_warp">
        <a class="goback_btn fl" ng-click="gobackBtn()">
            <img src="image/back.png" alt="">
            <span>返回</span>
        </a>
        <div class="page_title">{{authorName}}</div>
        <a class="search_btn fr" ui-sref="serach">搜索</a>
    </div>
</header>
<div style="height:1.17333333rem;"></div>
<section class="column_index bgwhite">
    <div class="col_warp">
        <div class="col_item" ui-sref="bookdetail({bookId:book.bookId})" ng-repeat="book in authorNameList">
            <a>
                <img ng-src="{{book.bookCover}}" alt="{{book.bookName}}" class="book_cover fl mgr20">
                <div class="book_info">
                    <p class="book_name" ng-bind="book.bookName"></p>
                    <p class="book_intro mgt10" ng-bind="book.introduction"></p>
                    <p class="book_author mgt20 book_authordetail">
                       <span class="book_favorite">作者:</span><span ng-bind="book.author"></span>
                       <span class="book_see">字数:</span><span ng-bind="book.wordNum"></span>
                    </p>
                </div> 
            </a>
        </div>
    </div>
    <div  class="loadingImgBottom" ng-show="loadingSmall">
        <img src="image/loading.png" alt="">
        <span>加载中</span>
    </div>
</section>
<div ng-show="loading" class="loadingImg">
    <img src="image/loading.png" alt="">
</div>
<p class="yq_tips_box" ng-show="isTipContent"><span ng-bind="tipContent"></span></p>