<div app-nav style="border-bottom: 1px solid rgb(229,229,229)"></div>
<!-- <div app-bookclass></div> -->
<section class="filter_box J-filterBox {{warpMore?'fixed':''}}" style="background: #fff">
	<div class="filter_col J-filterStatus">
		<a href="javascript:void(0);" class="{{$index===isClassB?'selected':''}} {{isA?'abc':''}}" ng-repeat="bk1 in classB" ng-bind="bk1.name" ng-click="classBClick(bk1,$index)"></a>
	</div>
	<div class="filter_col brd J-filterSort">
		<a href="javascript:void(0);" class="{{$index===issortB?'selected':''}} {{isB?'abc':''}}" ng-repeat="bk2 in sortB" ng-bind="bk2.name" ng-click="sortBClick(bk2,$index)"></a>
		
	</div>
	<div class="filter_close J-filter_close" ng-click="closeWarpMoreClick()" ng-hide="isBookclass"></div>
</section>
<!-- 浮动层 -->
<section class="filter_box_fiexed J-filterBoxFiexed" ng-show="isBookclass">
	<div class="warp">
		<span class="fl">分类：</span>
		<span class="selected mgl10 J-fStatusV" >{{classTop}}</span>
		<span class="fl mgl20"> 排序：</span>
		<span class="selected mgl10 J-fSortV" >{{sortTop}}</span>
		<span class="warpMore" ng-click="warpMoreClick()"></span>
	</div>
</section>
<div ng-show="loading" class="loadingImg">
    <img src="image/loading.png" alt="">
</div>
<div app-bookbaselist bobase="bookBase"></div>
<div  class="loadingImgBottom jlBottom" ng-show="loadingSmall">
	<img src="image/loading.png" alt="">
	<span>加载中</span>
</div>
<div style="height:1.68rem"></div>
<div app-foot></div>
<p class="yq_tips_box" ng-show="isTipContent"><span ng-bind="tipContent"></span></p>
