<!--<div app-headbar text="{{textrank}}"></di-->
<header class="header_bar">
    <div class="header_warp">
        <a class="goback_btn fl" ui-sref="rank">
        	<img src="image/back.png" alt="">
    		<span>返回</span>
        </a>
        <div class="page_title">{{textrank}}</div>
    </div>
</header>
<div style="height:1.17333333rem;"></div>
<div app-bookbaselist bobase="rankList"></div>
<p class="yq_tips_box" ng-show="isTipContent"><span ng-bind="tipContent"></span></p>
<div ng-show="loading" class="loadingImg">
    <img src="image/loading.png" alt="">
</div>