<div app-headbar text="签到规则"></div>
<div style="height:1.17333333rem;"></div>
<section class="container">
    <div class="faq-detail">
        <h3>签到规则说明</h3>
        <p>1.点击【今日签到】即可成功签到，获得10粮票。每日签到皆可获得10粮票。连续签到可获得额外奖励。</p>
    </div>
    <div class="faq-detail">
        <h3>连续签到规则：<br /></h3>
        <p>
            <!-- 答案内容 均放着p标签内-->
            1.连续签到仅限于当月（自然月），即完成当月的连续签到任务即可获得相应奖励。<br /><br />
            2.连续签到满足任一奖励条件时，系统会自动派发奖励，可在账户当中查看并使用。<br /><br />
            3.若出现中断，则连续签到日期从头计算。<br /> </p>
    </div>
    <div class="faq-detail">
        <h3>补签规则：</h3>
        <p>成功购买100元及以上价位粮票，即可获得1张补签卡；<br />
            当月通过购买获得的补签卡不限张数；<br />
            获取补签卡后，请在“补签卡”内查看并使用；<br />
            补签卡获取后一直有效，不过期；<br />
            使用补签卡后，系统默认补签最近一次漏签。<br />
            <br />
            <br />
            *站方对签到规则有最终解释权利。<br /><br /><br /><br /> </p>
    </div>
</section>